---
Checks: '
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer,
  concurrency-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-avoid-non-const-global-variables,
  '
WarningsAsErrors: ''
