[submodule "src"]
	path = src
	url = https://github.com/awslabs/aws-lc.git
	branch = main
[submodule "cryptol-specs"]
	path = cryptol-specs
	branch = sha-imperative
	url = https://github.com/GaloisInc/cryptol-specs.git
