[submodule "src"]
	path = src
	branch = fix-gcc-ubuntu
	url = https://github.com/samuel40791765/aws-lc.git
[submodule "cryptol-specs"]
	path = cryptol-specs
	branch = sha-imperative
	url = https://github.com/GaloisInc/cryptol-specs.git
