cmake-build-debug/
.vscode/
build/
build32/
build64/
build-fips/
*_BUILD_ROOT/
ssl/test/runner/runner
*.pyc
*.swp
*.swo
doc/*.html
doc/doc.css

util/bot/android_ndk
util/bot/android_sdk/public
util/bot/cmake
util/bot/golang
util/bot/libFuzzer
util/bot/libcxx
util/bot/libcxxabi
util/bot/llvm-build
util/bot/nasm-win32.exe
util/bot/ninja
util/bot/perl-win32
util/bot/sde-linux64
util/bot/sde-linux64.tar.xz
util/bot/sde-win32
util/bot/sde-win32.tar.xz
util/bot/win_toolchain.json
util/bot/yasm-win32.exe

tests/ci/.env
tests/ci/cdk/cdk.context.json
tests/ci/lambda/target
test_build_dir/
cmake-build-debug/
symbols.txt

.DS_Store
.idea/
.fleet/
.cache/
/CMakePresets.json
/compile_commands.json
/scratch
