[submodule "src"]
	path = src
	branch = upstream-merge-2024-12-13
	url = https://github.com/samuel40791765/aws-lc.git
[submodule "cryptol-specs"]
	path = cryptol-specs
	branch = sha-imperative
	url = https://github.com/GaloisInc/cryptol-specs.git
[submodule "cryptol-specs-aes-gcm"]
	path = cryptol-specs-aes-gcm
	url = https://github.com/GaloisInc/cryptol-specs.git
[submodule "Coq/fiat-crypto"]
	path = Coq/fiat-crypto
	url = https://github.com/mit-plv/fiat-crypto
[submodule "Coq/saw-script"]
	path = Coq/saw-script
	url = https://github.com/GaloisInc/saw-script
