openssl_conf = openssl_init
config_diagnostics = 1

[openssl_init]
providers = provider_sect
alg_section = evp_properties

[provider_sect]
awslc = awslc_sect
default = default_sect

[awslc_sect]
activate = 1

[default_sect]
activate = 1

[evp_properties]
default_properties = ?provider=awslc
