name: clang-tidy-review
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '>=1.18'
      - name: Build Project
        run: ./util/build_compilation_database.sh
      - uses: ZedThree/clang-tidy-review@v0.21.0
        with:
          split_workflow: true

      - uses: ZedThree/clang-tidy-review/upload@v0.21.0
