name: aws-lc integration tests
on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  haproxy:
    runs-on: ubuntu-latest
    steps:
      - name: Install OS Dependencies
        run: |
          sudo apt-get -y --no-install-recommends install cmake gcc ninja-build golang make
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: haproxy/haproxy
          path: ./scratch/haproxy
      - name: Run integration build
        run: |
          ./tests/ci/integration/run_haproxy_integration.sh